{% extends 'base.html' %}

{% block head %}
<title>Bảng ghi chú</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Bảng ghi chú công việc</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">Chưa có ghi chú nào được ghi, hãy nhập vào bên dưới</h4>
    {% else %}
    <table>
        <tr>
            <th>Ghi chú</th>
            <th>Ngày thêm</th>
            <th>Thêm/Xóa</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Xóa</a>
                <br>
                <a href="/update/{{task.id}}">Thêm</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}